body   {
	padding: 0;												/* NOTE: Ränder auf 0 */
	margin: 0;
	background-color: #348347;				/* NOTE: Hintergrunf auf gün */
}

.Überschrift{
	background-image: url("https://cdn.pixabay.com/photo/2014/02/12/18/11/lettuce-264826_960_720.jpg");
	text-align:center;
	font-size: 35px;
	background-repeat: no-repeat;
}


.list-group-item{}

.dropdown {
	position: fixed;
	top: 0;
	left: 0;
  	display: inline-block;
	padding: 0px;
	text-decoration: none;
	margin: 0px;

}

.dropdown-content {
  display: none;
	margin-top: 40px;
  	min-width: 100px;
	opacity: 0,9;
  	z-index: 1;
	background-color: #666145;

}

.dropdown:hover .dropdown-content {
  display: block;

}



.home{
	width: 80px;
	height: 40px;
	position: fixed;
}

.menu{
	text-decoration: none;
	color: black;
	font-size: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.menu:hover{
	background-color: yellow;
	width: 200px;
}

.nonlink{
	text-decoration: none;
}
