body   {background-color: #348347;
}
h1{background-image: url("https://cdn.pixabay.com/photo/2014/02/12/18/11/lettuce-264826_960_720.jpg");
	background-repeat: no-repeat;


}

.button{border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


p    {
	background-color: #348347;
	color: red;
}
